@model Kantoratus.Domain.Facts

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="section-title">
                    <h2>@Model.Age éves a Fővárosi Protestáns Kántorátus</h2>
                </div>
            </div>
            <div class="col-lg-6">
                <p>
                    Az alapításkor három együttes alkotta a Fővárosi Kántorátust: a Szent István Bazilikában szolgáló és a Budapesti Énekes Iskolához köthető katolikus, valamint a kelenföldi protestáns „ágazat”. Azóta több helyen alakultak rokon célokat ápoló együttesek: a reformátusok Budafokon 2004 óta, a Kálvin téren 2006 óta havonta énekelnek vesperát. A Gödöllői Premontrei Kántorátus 2009-től, a Belvárosi Kántorátus 2018-tól végez rendszeres szolgálatot. Ferencvárosban 2011-ben alakult evangélikus kántorátus, több vidéki városban (például Orosházán és Szombathelyen) pedig a nagyobb ünnepekhez kötve tartanak zsoltározó alkalmakat.
                </p>
                <p>
                    A kelenföldi együttes specifikuma, hogy az utánpótlást biztosító intézményrendszer felépítése nélkül sikerült mindeddig fenntartani a heti rendszerességű, többszólamú tételekkel gazdagított liturgikus szolgálatot.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="how-section spad set-bg">
    <div class="container text-white">
        <div class="section-title">
            <h2>Mi minden fért bele ebbe a @Model.Age évbe?</h2>
            <h3>Röviden szólva</h3>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <i class="fas fa-users fa-5x"></i>
                    </div>
                    <h4>@Model.MemberCount ember</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <i class="fas fa-book-open fa-5x"></i>
                    </div>
                    <h4>@Model.PieceCount önálló mű</h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <div class="how-item">
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <i class="fas fa-pen-fancy fa-5x"></i>
                    </div>
                    <h4>Korál- és genfizsoltár-feldolgozások 90 szerzőtől</h4>
                </div>
            </div>
            <div class="col-md-4">
                <div class="how-item">
                    <div class="hi-icon">
                        <i class="fas fa-church fa-5x"></i>
                    </div>
                    <h4>@Model.VespersCount vespera (abból mintegy 800 Bence Gábor alapítókarnagy vezetésével)</h4>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="intro-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <p>
                    Az együttes szolgálatának fókusza az élő zenei imádság, mely hangzóanyagként csak töredékes lenyomatként adható vissza. Lejátszási listáinkon visszatekintő válogatást és friss felvételeket egyaránt kínálunk.
                </p>
                <p>
                    Az önállóan elhangzott művek jegyzéke nem csak a repertoárválasztás súlypontjaiba és egyre bővülő forrásaiba nyújt betekintést, de a szólam-összeállításból az együttes életének változatos időszakai is kirajzolódnak. A gazdag motettaanyag más felekezetű kollegák számára is gondolatébresztő lehet.
                </p>
                <p>
                    A rendszerint alternatim módon énekelt korál- és genfizsoltár-feldolgozások szerzőit jegyzékszerűen közöljük. A kántorátustagok generációinak névsora minden olyan énekest tartalmaz, aki egynél több alkalommal részt vett a szolgálatban.
                </p>
                <p>
                    Kiemelt események is kísérték a kántorátus útját: önálló hangversenyek, ünnepi szolgálatok, szakmai bemutatók és tematikus sorozatok mellett zenésztársakkal, más együttesekkel közös kisebb-nagyobb vállalkozásokban is részt vettünk ökumenikus, nemzetközi és hazai körben.
                </p>
                <p>
                    A közölt anyag a teljesség igényére való törekvéssel, a rendelkezésre álló források alapján készült. A 25. évfordulóra könyv formában is megjelent ünnepi összeállítás készítésében munkatársaim voltak Isó M. Emese, László Dávid és Nagy Szabolcs. Köszönet a kelenföldi énekkari napló gondos vezetéséért az adott időszakban Ittzés Andrásnak és Gadóné Kézdy Editnek, a kántorátus motettaanyagának rendszerezéséért az adott időszakban Ecsedi Klárának, továbbá a Magyar Egyházzenei Társaság és a Magyar Rádió munkatársainak, Aradi György fasori evangélikus lelkésznek, valamint Marton Tamás egykori Szélrózsa-szervezőnek, akik aktívan hozzájárultak a gyűjtőmunkához.
                </p>
                <p>
                    Végül néhány személyes mondat: alapító énekesként az évek során rengeteget tanulhattam elsősorban stílus- és repertoárismeret terén. Az együttes vezetőjének lenni azonban mást is jelent: egész héten foglalkoztat a vasárnap igerendje és az arra való zenei reflektálás. A megvalósítás sokféle gondja közt ez az igazi ajándék ebben a szolgálatban.
                </p>
                <p>
                    <i>Egy dolgot kérek az Úrtól, azért esedezem: hogy az Úr házában lakhassam egész életemben.</i> (Zsolt 27,4a)
                </p>
                <p>
                    Pap Kinga Marjatta
                </p>
            </div>
            <div class="col-lg-6">
                <img class="slides w3-animate-fading" src="~/img/slideshow/0C7V1543.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/2002_09_kantoratus_kep.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/23755800_1477830505666744_1522660936402166060_n.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/dsc_0070.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/EvÉlet 2002_11_03.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/IMG_20170924_191520.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/img_4516.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/martonnap2019111068.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/martonnap2019111080.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/martonnap2019111082.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Unnepi_vespera295.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Unnepi_vespera299.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Zalaegerszeg 2017.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Zalaegerszeg 2017_2.jpg">

                <img class="slides w3-animate-fading" src="~/img/slideshow/553543069_33248114894787485_3658064857666748579_n.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/608430315_1200319632075342_5053859071083874759_n.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/IMG_20240225_185519.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Vesperasorozat 2025.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Vesperasorozat 2025_0.png">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Vesperasorozat 2025_1.jpg">
                <img class="slides w3-animate-fading" src="~/img/slideshow/Vesperasorozat 2025_2.jpg">
            </div>
        </div>
    </div>
</section>

<script src="~/js/home.js" asp-append-version="true"></script>